:root {
    --dark-brown: #2D231E;
    --light-brown: #806D5C;
    --dark-tan: #C4B3A8;
    --light-tan: #DDD0B5;
    
}

* {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header, .footer {
    display: flex;
    background-color: var(--dark-brown);
    color: var(--light-tan);
    width: 80vw;
    padding: 0 10vw 0 10vw;
    margin: 0;
}

.header {
    justify-content: space-between;
}

.nav-left, .nav-links {
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-right: 1vw;
}

.nav-links ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.nav-links ul li a {
    display: flex;
    font-size: 1.2em;
    color: var(--light-tan);
    align-items: center;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.welcome, .info, #quotes, #call-to-action {
    width: 80vw;
    padding: 0 10vw 0 10vw;
}

.welcome, #call-to-action {
    background-color: var(--dark-tan);
    color: var(--dark-brown);
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vw;
    padding-block: 4vw;
}

.left, .right {
    flex: 1;
    min-width: 285px;
}

.left h1 {
    margin-top: 0;
}

.right {
    max-width: 30vw;
}

.rounded-image {
    width: 100%;
}

.rounded-image img {
    vertical-align: top;  // Fixes descender element in fonts causing 3.5px margin
    height: 100%;
    width: 100%;
}

.rounded-image img, .info-item, #video {
    border: 1px solid var(--dark-brown);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#status {
    text-align: center;
    background-color: var(--light-brown);
}

#status h1 {
    margin: 2vw 0 0 0;
}

.info-items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 2vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    min-width: 215px;
    background-color: var(--light-tan);
    color: var(--dark-brown);
    padding: 0 2vw 0 2vw;
}

// Change info-item width at smaller screen size
@media screen and (max-width: 1050px) {
    .right {
        max-width: 80vw;
    }

    .info-item {
        width: 30vw;
        min-width: 215px;
        padding: 0 10vw 0 10vw;
    }
}

.info-item ul {
    list-style: none;
    padding: 0;

}

.info-item h1 {
    margin-block: 0;
}

// SPACE BACKGROUND

// Height of Space Section
$spaceHeight: 400px;  

// Container for entire space section
#space {  
    height: $spaceHeight;
    width: 100vw;
    background: linear-gradient(#162b43 0%, #000000 100%);
    overflow: hidden;
}

// Container for star elements
.stars{  
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

// n is number of stars
@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random($spaceHeight)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random($spaceHeight)}px #FFF';
    }
    @return unquote($value);
} 
  
// Star Density - Far away (small) stars should have larger number than nearby (large) stars
$shadows-small:  multiple-box-shadow(2000);
$shadows-medium: multiple-box-shadow(500);
$shadows-big:    multiple-box-shadow(150);

// Filter variables
$starBlur: 0.03em;
$starBlurSmall: 0.02em;
    
#starsSm {
    width: 1px;
    height: 1px;
    filter: blur($starBlurSmall);  // Browser compatibility
    -webkit-filter: blur($starBlurSmall);
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 150s linear infinite;
}
// After fills space right of stars until next box-shadow is initialized to give illusion of infinite loop
#starsSm::after { 
    content: " ";
    position: absolute;
    left: 2000px;
    width: 1px;
    height: 1px;
    filter: blur($starBlurSmall);
    -webkit-filter: blur($starBlurSmall);
    background: transparent;
    box-shadow: $shadows-small;
}

#starsMd {
    width: 2px;
    height: 2px;
    filter: blur($starBlur);
    -webkit-filter: blur($starBlur);
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
}
#starsMd::after {
    content: " ";
    position: absolute;
    left: 2000px;
    width: 2px;
    height: 2px;
    filter: blur($starBlur);
    -webkit-filter: blur($starBlur);
    background: transparent;
    box-shadow: $shadows-medium;
}
    
#starsLg {
    width: 3px;
    height: 3px;
    filter: blur($starBlur);
    -webkit-filter: blur($starBlur);
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 50s linear infinite;
}
#starsLg::after {
    content: " ";
    position: absolute;
    left: 2000px;
    width: 3px;
    height: 3px;
    filter: blur($starBlur);
    -webkit-filter: blur($starBlur);
    background: transparent;
    box-shadow: $shadows-big;
}

// Animate scroll effect
@keyframes animStar {
    from {
        transform: translateX(0);
    }
        
    to {
        transform: translateX(-2000px);  // Travels left the width of box-shadow
    }		
}

// STARSHIP COMPONENTS

// Called with different astronarHeight depending on screen size
@mixin starship-size($astronarHeight) {

    // Starship container
    .starship {
        height: 100%;
        width: 100%;
        margin-top: -$spaceHeight;
        text-align: center;
        animation: animShip 10s linear infinite;
    }
    @keyframes animShip {
        from {
            transform: translateY(0);
        }
        25% {
            transform: translateY(5%);
        }
        50% {
            transform: translateY(0);
        }
        75% {
            transform: translateY(-5%);
        }
        to {
            transform: translateY(0);
        }
    }

    // Starship image
    .astronar {
        height: $astronarHeight;
        width: auto;
        position: relative;
        z-index: 3;
        margin-top: ($spaceHeight - $astronarHeight) / 2;
    }

    // Starship Thruster
    $fireColor: rgb(255,80,0);
    $fireColorT: rgba(255,80,0,0);
    $dur: 0.25s;
    $thrusterBlur: 0.02em;
    $thrusterContrast: 5;
    $fireRad: 3em;
    $parts: 50;
    $partSize: $astronarHeight/3; // Vertical size of thruster
    $width: $astronarHeight /3 *2; // Horizontal size of thruster
    .thruster {
        position: relative;
        width: $astronarHeight;
        margin: 0 auto;
    }
    .fire {
        position: relative;
        left: -$astronarHeight / 2;
        z-index: 2;
        font-size: 24px;
        filter: blur($thrusterBlur) contrast($thrusterContrast);
        -webkit-filter: blur($thrusterBlur) contrast($thrusterContrast);  // Stylistic look for fire
        width: $width;
        height: $partSize;
        margin-top: -($astronarHeight + $partSize) / 2;
    }
    .particle {
        animation: thrust $dur ease-in infinite;
        background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
        border-radius: 50%;
        mix-blend-mode: screen;
        opacity: 0;
        position: absolute;
        bottom: 0;
        width: $partSize;
        height: $partSize;
        // spread particles out in time and x-position to get desired effect
        @for $p from 1 through $parts {
            &:nth-of-type(#{$p}) {
                animation-delay: $dur * random();
                left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
            }
        }
    }
    @keyframes thrust {
        from {
            opacity: 0;
            transform: translateX(0) scale(1);
        }
        50% {
            opacity: 1;
            transform: translateX(-50%) scale(.4);
        }
        to {
            opacity: 0;
            transform: translateX(-100%) scale(0);
        }
    }
}

// Astronar size variables for different screen sizes
$largeSize: 300px;
$mediumSize: 150px;
$smallSize: 75px;

@media screen and (max-width: 360px) {
    @include starship-size($smallSize);
}
@media screen and (min-width: 361px) and (max-width: 720px) {
    @include starship-size($mediumSize);
}
@media screen and (min-width: 721px) {
    @include starship-size($largeSize);
}


#quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end; 
    background-color: var(--light-tan);
    color: black;
}

.quote {
    font: italic 36px black;
}

.author {
    padding-bottom: 20px;
}

#call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#call-to-action h4 {
    margin: 0 0 30px 0;
}

.video-player {
    max-width: 60vw;
    height: auto;
}

#video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#play-button {
    margin: 20px;
    padding: 10px;
    color: var(--light-tan);
    background-color: var(--dark-brown);
    border-radius: 10%;
}

.footer {
    justify-content: center;
    align-items: center;
}
